.mobile-menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: $background;
    padding: 20px 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    .mobile-menu-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .close-menu{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        font-size: 2rem;
        font-weight: 500;
        box-sizing: border-box;
        padding: 20px;
        .menu{
            display: flex;
            flex-direction: column;
        }
        select{
            height: fit-content;
        }
        option{
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    .mobile-menu-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .social-icon{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}