.quotes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    .quote{
        box-sizing: border-box;
        border: 1px solid $gray;
        padding: 2rem;
        font-weight: 500;
        text-align: center;
        position: relative;
        &::before, &::after{
            content: "";
            width: 26px;
            height: 26px;
            background-color: $background;
            background-image: url(../images/quotes.svg);
            background-repeat: no-repeat;
            position: absolute;
        }
        &::before{
            top: -10px;
            left: 5%;
        }
        &::after{
            bottom: -15px;
            right: 5%;
        }
    }
    .author{
        box-sizing: border-box;
        border: 1px solid $gray;
        padding: 1rem 1.5rem;
        align-self: flex-end;
        border-top: 0;
        font-weight: 400;
    }
    @media all and (max-width: 900px) {
        font-size: 1.3rem;
    }
}