.section-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;
    & > div {
        color: white;
    }
    &-head {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    hr {
        margin: 0 15px;
        color: $primary;
        flex-grow: 1;
    }
    .more a {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        line-height: 2rem;
        &:hover {
            color: $gray;
        }
    }
    @media all and (max-width: 500px) {
        margin-bottom: 30px;
        .more {
            flex-shrink: 1;
            flex-grow: 0;
            a {
                line-height: 1;
                max-width: 80px;
            }
        }
    }
}
