button{
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid $primary;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        background-color: rgba(199, 120, 221, 0.20);
    }
    &[disabled]{
        background-color: rgba($gray, 0.5);
        cursor: default;
    }
}