.myprojects{
    .projects{
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        .project-card{
            width: calc((100% - 45px) / 4);
            @media all and (max-width: 750px) {
                width: calc((100% - 15px) / 2);
            }
            @media all and (max-width: 520px) {
                width: 90%;
            }
        }
    }
}