.contacts-page{
    color: $gray;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    section{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 650px) {
            flex-direction: column;
            .intro{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
    .intro{
        width: 50%;
    }
    .info{
        box-sizing: border-box;
        padding: 1rem;
        border: 1px solid $gray;
        &-title{
            color: white;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &-body{
            font-weight: 400;
            div{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 0.5rem;
            }
            a{
                color: $gray;
                text-decoration: none;
            }
        }
    }
}