.project-card{
    min-width: 220px;
    max-width: 350px;
    color: $gray;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid $gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .project-preview{
        width: 100%;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .project-tech{
        border: 1px solid $gray;
        border-left: none;
        border-right: none;
        padding: 10px;
        box-sizing: border-box;
        line-height: 1.5;
    }
    .project-info{
        box-sizing: border-box;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        align-items: flex-start;
        flex-grow: 1;
    }
    .project-name{
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .project-desc{
        line-height: 1.5;
    }
}