.skill-card{
    width: 180px;
    box-sizing: border-box;
    border: 1px solid $gray;
    font-size: 1rem;
    &-title{
        box-sizing: border-box;
        padding: 10px;
        color: white;
        font-weight: 600;
        border-bottom: 1px solid $gray;
    }
    &-body{
        box-sizing: border-box;
        padding: 10px;
        color: $gray;
        font-weight: 400;
        line-height: 1.5;
    }
    @media all and (max-width: 500px) {
        width: 100%;
    }
}