.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.2);
        }
    }
}