.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    box-sizing: border-box;
    background-color: rgba($background, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .modal{
        box-sizing: border-box;
        padding: 2rem;
        background-color: $background;
        border: 1px solid $gray;
        &-title{
            color: white;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input, textarea{
            background: transparent;
            border: 1px solid $gray;
            padding: 8px;
            color: $gray;
            flex-grow: 1;
            flex-shrink: 1;
            resize: none;
            outline: none;
            // &:invalid{
            //     border: 1px solid red;
            //     &::placeholder{
            //         color: red;
            //     }
            // }
        }
        & > div{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            align-items: flex-start;
            & > div{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .message-status{
        box-sizing: border-box;
        padding: 2rem;
        border: 1px solid $gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 300px;
        height: 350px;
        .icon{
            font-size: 3rem;
            color: white;
            border: 2px solid white;
            border-radius: 50%;
            padding: 15px;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .text{
            color: $gray;
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .success{
        background: linear-gradient(180deg, rgb(81,198,128) 0%, rgb(40,44,51) 70%);
    }
    .error{
        background: linear-gradient(180deg, rgb(237,58,64) 0%, rgb(40,44,51) 70%);
    }
    .field-error{
        font-size: 0.7rem;
        font-weight: 500;
        color: white;
        padding: 5px;
        background-color: rgba(255, 0, 0, 0.5);
        border-radius: 5px;
    }
    .close{
        font-size: 0.8rem;
        color: white;
        cursor: pointer;
        width: fit-content;
        float: right;
    }
}