@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap);

$background: #282C33;
$primary: #C778DD;
$gray: #ABB2BF;

.freeze{
    position: static;
    overflow: hidden;
}

.page{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    margin: 60px auto 140px;
    @media all and (max-width: 900px) {
        margin-bottom: 100px;
    }
    @media all and (max-width: 500px) {
        margin: 20px auto 30px;
        row-gap: 70px;
    }
}

.prefix{
    color: $primary;
}

@import '../components/App/app';
@import '../components/Footer/footer';
@import '../components/Header/header';
@import '../components/Main/main';
@import '../components/Button/button';
@import '../components/SectionTitle/sectiontitle';
@import '../components/SocIcons/socicons';
@import '../components/TopSocials/topsocials';
@import '../components/Logo/logo';
@import '../pages/Homepage/homepage';
@import '../components/Quotes/quotes';
@import '../components/ProjectCard/projectcard';
@import '../components/SkillCard/skillcard';
@import '../pages/Workspage/workspage';
@import '../components/PageTitle/pagetitle';
@import '../pages/Aboutpage/aboutpage';
@import '../pages/Contactspage/contactspage';
@import '../components/ModalForm/modalform';
@import '../components/MobileMenu/mobilemenu';


@media all and (max-width: 768px) {
    html{
        font-size: 15px;
    }
}
@media all and (max-width: 500px) {
    html{
        font-size: 14px;
    }
}