.wrapper{
    background-color: $background;
    background-image: url(../images/dots.svg), url(../images/rect.svg), url(../images/dots.svg), url(../images/rect.svg), url(../images/dots.svg), url(../images/rect.svg), url(../images/dots.svg);
    background-position: 10px 15%, 101% 20%, -50px 30%, 101% 35%, 101% 70%, -75px 60%, -50px 85%;
    background-repeat: no-repeat;
    background-size: 50px 50px, 80px 90px, 85px 85px, 70px 155px, 80px 100px, 150px 150px, 100px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $primary;
    font-family: "Fira Code";
    box-sizing: border-box;
    padding: 0 100px;
    @media all and (max-width: 900px){
        padding: 0 2rem;
    }
    @media all and (max-width: 768px){
        background-image: none;
    }
    @media all and (max-width: 500px){
        padding: 0 1rem;
    }
}