.logo {        
    img {
        width: 20px;
    }
    a {
        color: white;
        text-decoration: none;
        display: flex;
        gap: 10px;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.03);
        }
    }
}