.about-me{
    color: $gray;
    font-size: 1rem;
    font-weight: 400;
    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
            width: 50%;
            padding: 10px 0 0 0;
            p {
                margin-bottom: 30px;
            }
        }
        &-image {
            background-image: url(../images/dots.svg);
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: 0 15%;
            position: relative;
            height: 400px;
            padding-left: 15px;
            padding-right: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-bottom: 1px solid $primary;
            }
            &-dots {
                width: 70px;
                position: absolute;
                top: 60%;
                right: 50px;
                img {
                    border: none;
                }
            }
        }
        @media all and (max-width: 700px) {
            flex-direction: column;
            &-text{
                width: 100%;
            }
        }
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .skill-card{
            width: calc((100% - 90px) / 4);
            flex-grow: 1;
            @media all and (max-width: 600px) {
                width: 100%;
            }
        }
    }
    button{
        margin-top: 10px;
    }
}