header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $background;
    .container {
        max-width: 1200px;
        height: 60px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 5px;
    }
    nav {
        display: flex;
        align-items: flex-end;
        gap: 30px;
        .menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 30px;
            a {
                color: $gray;
                text-decoration: none;
                &:hover {
                    color: white;
                }
                &.active {
                    color: white;
                    font-weight: 500;
                }
            }
        }
        select {
            background-color: $background;
            color: $gray;
            font-weight: 600;
            border: none;
            height: 20px;
            cursor: pointer;
        }
        option {
            font-weight: 400;
            width: fit-content;
        }
        @media all and (max-width: 768px) {
            display: none;
        }
    }
    .mobile-icon{
        display: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
        @media all and (max-width: 768px) {
            display: block;
        }
    }
}
