@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap);
.freeze {
  position: static;
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 100px;
  margin: 60px auto 140px;
}
@media all and (max-width: 900px) {
  .page {
    margin-bottom: 100px;
  }
}
@media all and (max-width: 500px) {
  .page {
    margin: 20px auto 30px;
    row-gap: 70px;
  }
}

.prefix {
  color: #C778DD;
}

.wrapper {
  background-color: #282C33;
  background-image: url(../images/dots.svg), url(../images/rect.svg), url(../images/dots.svg), url(../images/rect.svg), url(../images/dots.svg), url(../images/rect.svg), url(../images/dots.svg);
  background-position: 10px 15%, 101% 20%, -50px 30%, 101% 35%, 101% 70%, -75px 60%, -50px 85%;
  background-repeat: no-repeat;
  background-size: 50px 50px, 80px 90px, 85px 85px, 70px 155px, 80px 100px, 150px 150px, 100px 100px;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #C778DD;
  font-family: "Fira Code";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 100px;
}
@media all and (max-width: 900px) {
  .wrapper {
    padding: 0 2rem;
  }
}
@media all and (max-width: 768px) {
  .wrapper {
    background-image: none;
  }
}
@media all and (max-width: 500px) {
  .wrapper {
    padding: 0 1rem;
  }
}

footer .container {
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 20px;
}
footer .container > div {
  padding: 15px 0;
}
@media all and (max-width: 500px) {
  footer .container {
    padding: 10px;
  }
}
footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .info-logo {
  color: white;
}
footer .info-logo div {
  padding: 2px 0;
}
footer .info-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media all and (max-width: 500px) {
  footer .info {
    display: none;
  }
}
footer .copyright {
  color: #ABB2BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .copyright a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .copyright a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  padding-right: 6px;
}
footer .copyright span {
  text-align: center;
}
@media all and (max-width: 500px) {
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #282C33;
}
header .container {
  max-width: 1200px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
}
header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}
header nav .menu a {
  color: #ABB2BF;
  text-decoration: none;
}
header nav .menu a:hover {
  color: white;
}
header nav .menu a.active {
  color: white;
  font-weight: 500;
}
header nav select {
  background-color: #282C33;
  color: #ABB2BF;
  font-weight: 600;
  border: none;
  height: 20px;
  cursor: pointer;
}
header nav option {
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media all and (max-width: 768px) {
  header nav {
    display: none;
  }
}
header .mobile-icon {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  header .mobile-icon {
    display: block;
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
main .container {
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid #C778DD;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: rgba(199, 120, 221, 0.2);
}
button[disabled] {
  background-color: rgba(171, 178, 191, 0.5);
  cursor: default;
}

.section-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 50px;
}
.section-title > div {
  color: white;
}
.section-title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-title hr {
  margin: 0 15px;
  color: #C778DD;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.section-title .more a {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  line-height: 2rem;
}
.section-title .more a:hover {
  color: #ABB2BF;
}
@media all and (max-width: 500px) {
  .section-title {
    margin-bottom: 30px;
  }
  .section-title .more {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .section-title .more a {
    line-height: 1;
    max-width: 80px;
  }
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-icon a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.socials {
  position: fixed;
  top: 0;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.socials .line {
  height: 190px;
  width: 0;
  border: 0.5px solid #ABB2BF;
}
@media all and (max-width: 900px) {
  .socials {
    display: none;
  }
}

.logo img {
  width: 20px;
}
.logo a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.logo a:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.homepage .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.homepage .welcome .intro {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5%;
  padding-left: 0;
}
@media all and (max-width: 900px) {
  .homepage .welcome .intro {
    padding-top: 0;
  }
}
.homepage .welcome .avatar {
  width: 40%;
  background-image: url(../images/LogoOutline.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 0 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.homepage .welcome .avatar-image {
  position: relative;
}
.homepage .welcome .avatar-image .dots {
  max-width: 18%;
  position: absolute;
  right: 5%;
  bottom: 15%;
}
.homepage .welcome .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.homepage .welcome .avatar .position {
  border: 1px solid #ABB2BF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  margin-top: -2px;
}
.homepage .welcome .avatar .position-text {
  font-size: 1rem;
  font-weight: 600;
  color: #ABB2BF;
}
.homepage .welcome .avatar .position-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #C778DD;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  float: left;
  margin-right: 10px;
}
.homepage .welcome .avatar .position-text a {
  text-decoration: none;
  color: white;
}
@media all and (max-width: 500px) {
  .homepage .welcome .avatar .position {
    margin-top: -1px;
  }
}
.homepage .welcome h1 {
  font-size: 2rem;
  font-weight: 600;
}
.homepage .welcome h1 span {
  color: white;
}
@media all and (max-width: 1200px) {
  .homepage .welcome h1 {
    font-size: 1.8rem;
  }
}
@media all and (max-width: 960px) {
  .homepage .welcome h1 {
    font-size: 1.7rem;
  }
}
.homepage .welcome p {
  font-size: 1rem;
  font-weight: 400;
  color: #ABB2BF;
  margin: 30px auto 24px;
}
@media all and (max-width: 650px) {
  .homepage .welcome {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .homepage .welcome .intro,
  .homepage .welcome .avatar {
    width: 100%;
    padding: 0;
  }
  .homepage .welcome .intro img,
  .homepage .welcome .avatar img {
    max-width: 400px;
  }
  .homepage .welcome p {
    margin: 1rem auto;
  }
}
.homepage .projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homepage .projects .project-card {
  width: calc((100% - 30px) / 3);
}
@media all and (max-width: 768px) {
  .homepage .projects .project-card {
    width: auto;
  }
}
@media all and (max-width: 500px) {
  .homepage .projects .project-card {
    width: 90%;
  }
}
.homepage .skills {
  background-image: url("../images/LogoOutline.svg"), url("../images/dots.svg"), url("../images/dots.svg"), url("../images/rect.svg"), url("../images/rect.svg");
  background-repeat: no-repeat;
  background-size: 100px, 60px, 60px, 85px, 50px;
  background-position: 30px bottom, 0 40px, 170px 130px, 200px top, 260px 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 20px 31vw;
}
@media all and (max-width: 768px) {
  .homepage .skills {
    background-image: none;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.homepage .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.homepage .about-text {
  width: 50%;
  padding: 50px 0 0 0;
  color: #ABB2BF;
  font-size: 1rem;
  font-weight: 400;
}
.homepage .about-text p {
  margin-bottom: 30px;
}
.homepage .about-image {
  background-image: url(../images/dots.svg);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 0 15%;
  position: relative;
  height: 400px;
  padding-left: 15px;
  padding-right: 30px;
}
.homepage .about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #C778DD;
}
.homepage .about-image-dots {
  width: 70px;
  position: absolute;
  top: 60%;
  right: 50px;
}
.homepage .about-image-dots img {
  border: none;
}
@media all and (max-width: 650px) {
  .homepage .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homepage .about-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    width: 100%;
  }
  .homepage .about-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 0;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .homepage .about-image img {
    max-width: 270px;
  }
}
.homepage .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #ABB2BF;
}
.homepage .contacts-intro {
  width: 40%;
  font-weight: 500;
}
.homepage .contacts-table {
  border: 1px solid #ABB2BF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}
.homepage .contacts-table-title {
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}
.homepage .contacts-table-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}
.homepage .contacts-table-body a {
  color: #ABB2BF;
  text-decoration: none;
  font-weight: 400;
}
@media all and (max-width: 500px) {
  .homepage .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homepage .contacts-intro, .homepage .contacts-table {
    width: 95%;
  }
}

.quotes {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  color: white;
}
.quotes .quote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ABB2BF;
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.quotes .quote::before, .quotes .quote::after {
  content: "";
  width: 26px;
  height: 26px;
  background-color: #282C33;
  background-image: url(../images/quotes.svg);
  background-repeat: no-repeat;
  position: absolute;
}
.quotes .quote::before {
  top: -10px;
  left: 5%;
}
.quotes .quote::after {
  bottom: -15px;
  right: 5%;
}
.quotes .author {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ABB2BF;
  padding: 1rem 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-top: 0;
  font-weight: 400;
}
@media all and (max-width: 900px) {
  .quotes {
    font-size: 1.3rem;
  }
}

.project-card {
  min-width: 220px;
  max-width: 350px;
  color: #ABB2BF;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #ABB2BF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.project-card .project-preview {
  width: 100%;
  height: 200px;
}
.project-card .project-preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.project-card .project-tech {
  border: 1px solid #ABB2BF;
  border-left: none;
  border-right: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}
.project-card .project-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.project-card .project-name {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.project-card .project-desc {
  line-height: 1.5;
}

.skill-card {
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ABB2BF;
  font-size: 1rem;
}
.skill-card-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid #ABB2BF;
}
.skill-card-body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  color: #ABB2BF;
  font-weight: 400;
  line-height: 1.5;
}
@media all and (max-width: 500px) {
  .skill-card {
    width: 100%;
  }
}

.myprojects .projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.myprojects .projects .project-card {
  width: calc((100% - 45px) / 4);
}
@media all and (max-width: 750px) {
  .myprojects .projects .project-card {
    width: calc((100% - 15px) / 2);
  }
}
@media all and (max-width: 520px) {
  .myprojects .projects .project-card {
    width: 90%;
  }
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.about-me {
  color: #ABB2BF;
  font-size: 1rem;
  font-weight: 400;
}
.about-me .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-me .about-text {
  width: 50%;
  padding: 10px 0 0 0;
}
.about-me .about-text p {
  margin-bottom: 30px;
}
.about-me .about-image {
  background-image: url(../images/dots.svg);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 0 15%;
  position: relative;
  height: 400px;
  padding-left: 15px;
  padding-right: 30px;
}
.about-me .about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #C778DD;
}
.about-me .about-image-dots {
  width: 70px;
  position: absolute;
  top: 60%;
  right: 50px;
}
.about-me .about-image-dots img {
  border: none;
}
@media all and (max-width: 700px) {
  .about-me .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me .about-text {
    width: 100%;
  }
}
.about-me .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.about-me .skills .skill-card {
  width: calc((100% - 90px) / 4);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media all and (max-width: 600px) {
  .about-me .skills .skill-card {
    width: 100%;
  }
}
.about-me button {
  margin-top: 10px;
}

.contacts-page {
  color: #ABB2BF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.contacts-page section {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 650px) {
  .contacts-page section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-page section .intro {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contacts-page .intro {
  width: 50%;
}
.contacts-page .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #ABB2BF;
}
.contacts-page .info-title {
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contacts-page .info-body {
  font-weight: 400;
}
.contacts-page .info-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}
.contacts-page .info-body a {
  color: #ABB2BF;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(40, 44, 51, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.overlay .modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  background-color: #282C33;
  border: 1px solid #ABB2BF;
}
.overlay .modal-title {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.overlay form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.overlay form input, .overlay form textarea {
  background: transparent;
  border: 1px solid #ABB2BF;
  padding: 8px;
  color: #ABB2BF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  resize: none;
  outline: none;
}
.overlay form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.overlay form > div > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overlay .message-status {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  border: 1px solid #ABB2BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 300px;
  height: 350px;
}
.overlay .message-status .icon {
  font-size: 3rem;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlay .message-status .text {
  color: #ABB2BF;
  text-align: center;
  font-size: 1.2rem;
}
.overlay .success {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(81, 198, 128)), color-stop(70%, rgb(40, 44, 51)));
  background: linear-gradient(180deg, rgb(81, 198, 128) 0%, rgb(40, 44, 51) 70%);
}
.overlay .error {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 58, 64)), color-stop(70%, rgb(40, 44, 51)));
  background: linear-gradient(180deg, rgb(237, 58, 64) 0%, rgb(40, 44, 51) 70%);
}
.overlay .field-error {
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
}
.overlay .close {
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #282C33;
  padding: 20px 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.mobile-menu-container .mobile-menu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu-container .mobile-menu-head .close-menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mobile-menu-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2rem;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}
.mobile-menu-container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu-container nav select {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.mobile-menu-container nav option {
  font-size: 1.2rem;
  font-weight: 500;
}
.mobile-menu-container .mobile-menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.mobile-menu-container .mobile-menu-footer .social-icon img {
  width: 50px;
  height: 50px;
}

@media all and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}