.socials{
    position: fixed;
    top: 0;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    .line{
        height: 190px;
        width: 0;
        border: 0.5px solid $gray;
    }
    @media all and (max-width: 900px){
        display: none;
    }
}