footer{
    .container {
        max-width: 1200px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 10px 20px;
        & > div{
            padding: 15px 0;
        }
        @media all and (max-width: 500px) {
            padding: 10px;
        }
    }
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo{
            color: white;
            div{
                padding: 2px 0;
            }
        }
        &-socials{
            display: flex;
            gap: 10px;
        }
        @media all and (max-width: 500px) {
            display: none;
        }
    }
    .copyright{
        color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a{
            text-decoration: none;
            color: white;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.05);
                padding-right: 6px;
            }
        }
        span{
            text-align: center;
        }
        @media all and (max-width: 500px) {
            flex-direction: column;
        }
    }
}