.homepage {
    .welcome {
        display: flex;
        justify-content: space-between;
        .intro {
            width: 60%;
            box-sizing: border-box;
            padding: 5%;
            padding-left: 0;
            @media all and (max-width: 900px) {
                padding-top: 0;
            }
        }
        .avatar {
            width: 40%;
            background-image: url(../images/LogoOutline.svg);
            background-repeat: no-repeat;
            background-size: 35%;
            background-position: 0 35%;
            box-sizing: border-box;
            padding: 10px 10px 0 15px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            position: relative;
            &-image {
                position: relative;
                .dots {
                    max-width: 18%;
                    position: absolute;
                    right: 5%;
                    bottom: 15%;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .position {
                border: 1px solid $gray;
                box-sizing: border-box;
                padding: 8px;
                margin-top: -2px;
                &-text {
                    font-size: 1rem;
                    font-weight: 600;
                    color: $gray;
                    &::before {
                        content: "";
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-color: $primary;
                        flex-shrink: 0;
                        float: left;
                        margin-right: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
                @media all and (max-width: 500px) {
                    margin-top: -1px;
                }
            }
        }
        h1 {
            font-size: 2rem;
            font-weight: 600;
            span {
                color: white;
            }
            @media all and (max-width: 1200px) {
                font-size: 1.8rem;
            }
            @media all and (max-width: 960px) {
                font-size: 1.7rem;
            }
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: $gray;
            margin: 30px auto 24px;
        }
        @media all and (max-width: 650px) {
            flex-wrap: wrap;
            gap: 10px;
            .intro,
            .avatar {
                width: 100%;
                padding: 0;
                img{
                    max-width: 400px;
                }
            }
            p {
                margin: 1rem auto;
            }
        }
    }
    .projects {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        .project-card{
            width: calc((100% - 30px) / 3);
            @media all and (max-width: 768px) {
                width: auto;
            }
            @media all and (max-width: 500px) {
                width: 90%;
            }
        }
    }
    .skills {
        background-image: url("../images/LogoOutline.svg"),
            url("../images/dots.svg"), url("../images/dots.svg"),
            url("../images/rect.svg"), url("../images/rect.svg");
        background-repeat: no-repeat;
        background-size: 100px, 60px, 60px, 85px, 50px;
        background-position: 30px bottom, 0 40px, 170px 130px, 200px top,
            260px 180px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 16px;
        box-sizing: border-box;
        padding: 20px 0 20px 31vw;
        @media all and (max-width: 768px) {
            background-image: none;
            padding: 0;
            justify-content: center;
        }
    }
    .about {
        display: flex;
        justify-content: space-between;
        &-text {
            width: 50%;
            padding: 50px 0 0 0;
            color: $gray;
            font-size: 1rem;
            font-weight: 400;
            p {
                margin-bottom: 30px;
            }
        }
        &-image {
            background-image: url(../images/dots.svg);
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: 0 15%;
            position: relative;
            height: 400px;
            padding-left: 15px;
            padding-right: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-bottom: 1px solid $primary;
            }
            &-dots {
                width: 70px;
                position: absolute;
                top: 60%;
                right: 50px;
                img {
                    border: none;
                }
            }
        }
        @media all and (max-width: 650px) {
            flex-wrap: wrap;
            &-text {
                order: 2;
                padding: 0;
                width: 100%;
            }
            &-image {
                order: 1;
                width: 100%;
                padding: 0;
                margin-top: -20px;
                margin-bottom: 20px;
                text-align: center;
                img{
                    max-width: 270px;
                }
            }
        }
    }
    .contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
        color: $gray;
        &-intro {
            width: 40%;
            font-weight: 500;
        }
        &-table {
            border: 1px solid $gray;
            box-sizing: border-box;
            padding: 1rem;
            &-title {
                color: white;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            &-body {
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 0.5rem;
                }
                a {
                    color: $gray;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
        @media all and (max-width: 500px) {
            flex-wrap: wrap;
            &-intro,
            &-table {
                width: 95%;
            }
        }
    }
}
